@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    /* scroll-behavior: smooth; */
    overflow: hidden;
    background-color: #000;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: #000;
    width: 100vw;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #aaa;
    text-align: center;
    text-decoration: none;
    color: #999;
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
  }
main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

ul{
  /* border: 1px solid red; */
  width: 40%;
  margin-left: 30%;
}
ul li{
  padding: 12px 20px;
  background-color: brown;  
  margin: 30px;
  border-radius: 4px;
}
ul li:hover{
  background-color: rgb(198, 58, 58);
}
ul li a{
  list-style: none;
  text-decoration: none;
  color: white;
}