@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  /* scroll-behavior: smooth; */
  /* overflow: hidden; */
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #333;
  width: 100vw;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

/* reset  */
h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

p{
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a{
  text-decoration: none;
  display: inline-block;
}

ul{
  list-style: none;
}

/* utility classes */
.small-bold-text{
  font-size: 1rem;
  font-weight: 700;
}

.container{
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.flex{
  display: flex;
  align-items: center;
}

.hover-link{
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}
.hover-link:hover{
  color: var(--accent-color);
}

.primary-button{
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 10px 20px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2 ease-out;
}
.primary-button:hover{
  background-color: var(--accent-color-dark);
}

.secondary-button{
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 700px;
  color: var(--primary-text-color) !important;
  padding: 10px 20px;
  transition: 0.2 ease-out;
}

.secondary-button:hover{
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* top-banner */
.top-banner{
  background-color: #4fb3d4;
  background-image: url(assets/asset\ 30.png);
  background-size: 300px;
}

.banner-text{
  color: white;
  padding: 15px 30px;
  text-align: center;
} 


.main-nav{
  /* display: flex; */
  margin-top: 15px;
  justify-content: space-between;
}

.company-logo img{
  width: 200px;
}

.nav-links{
  flex-basis: 730px; /* seeting width */
}

.nav-links ul{
  justify-content: end;
  gap: 40px;
}

/* header section  */
header{
  padding: 50px var(--padding-inline-section);
}

.header-section{
  justify-content: center;
  gap: 50px;
}

.header-left{
  max-width: 40vw;
}

.header-left h1{
  margin-top: 20px;
}

.get-started-btn{
  margin-top: 20px;
}

.header-right img{
  width: 600px;
}

/* header - ends  */
/* companies-header */
.companies-header{
  text-align: center;
  margin-block: 30px;
  color: var(--primary-text-color);
}

.logos{
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  height: 46px;
}

/* feature - header  */
.feature-section{
  background-image: url(assets/asset\ 32.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px var(--padding-inline-section);
}
.features-header{
  text-align: center;
}
.features-heading-text{
  margin-bottom: 20px;
}
.features-area{
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
.feature-card{
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
  text-align: center;
}
.feature-card img{
  width: 60px;
}
/* big-feature-section */
.big-feature-section{
  padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container{
  gap: 30px;
}

.feature-image img{
  width: 100%;
}

.feature-desc {
  flex-direction: column;
  align-items: flex-start;
}
/* example-header */
.example-header{
  flex-direction: column;
  gap: 20px;
}
.examples-area{
  justify-content: space-between;
  margin-block: 30px;
}
.example-card{
  width: 23%;
  position: relative;
  min-height: 300px;
  background: black;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(assets/asset\ 35.jpeg);
  background-size: cover;
}
.example-card:nth-child(2){
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(assets/asset\ 34.jpeg);
  background-size: cover;
}
.example-card:nth-child(3){
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(assets/asset\ 36.jpeg);
  background-size: cover;
}
.example-card:nth-child(4){
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(assets/asset\ 37.jpeg);
  background-size: cover;
}
.example-card:hover{
  box-shadow: 0 0 10px #888;
  transition: 0.2s ease-out;
}

.card-text{
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}

.cta-section{
  background-color: #183b54;
  padding: 100px var(--padding-inline-section) 80px;
}

.cta-section-container{
  flex-direction: column;
  gap: 25px;
  color: white;
}

.cta-section-container p{
  color: white;
  margin-top: 20px;
}

.link-column{
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

footer{
  padding-block: 80px;
  background-color: #ebf2fa;
}
.footer-container{
  align-items: flex-start;
  justify-content: space-between;
}
.subfooter{
  background-color: #b9cde4;
  padding: var(--padding-inline-section);
}
.sub-footer-container{
  justify-content: center;
  gap: 30px;
}







